<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= params[:action] %>">

    <!-- flashメッセージ -->
    <p style="color: green"><%= notice %></p>
    <p style="color: red"><%= alert %></p>


    <!-- ヘッダー -->
    <header>
      <nav>
        <ul>
          <% if user_signed_in? %>
            <li> <strong><%= current_user.email %></strong>としてログイン中</li>
            <li><%= link_to 'プロフィール編集', edit_user_registration_path %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to 'ユーザー一覧', users_path %></li>
            <li><%= link_to t('views.common.title_index', name: i18n_pluralize(Book.model_name.human)), books_path %></li>
            <li><%= link_to t('views.common.new', name: Book.model_name.human.downcase), new_book_path %></li>
          <% else %>
            <li><%= link_to "アカウント登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %>
          <% end %>
        </ul>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
